
/* Configuración de fuentes */
body {
    font-family: 'Poppins', sans-serif;
}

/* Hero Section */
.hero {
    background-color: #f8f9fa;
    padding: 50px 0;
    text-align: center;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

/* Servicios */
.card {
    margin-bottom: 20px;
}

/* Footer */
footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
}
